body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    position: relative;
}

#chat_container {
    width: calc(100% - 20px);
    padding: 10px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    background-color: transparent;
    color: white;
    font-weight: 800;
    word-break: break-word;
}

.user_info {
    display: inline-block;
}

.log-message {
    font-family: monospace;
    color: #ffffff;
    transition: opacity 0.4s ease-out;
}

.badge {
    vertical-align: middle;
    border-radius: 10%;
}

.zero-width_container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.emote {
    vertical-align: middle;
    margin-right: 2px;
    margin-left: 2px;
}

.zero-width {
    position: absolute;
}

.emoji {
    vertical-align: middle;
}

.hidden {
    display: none;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}